@font-face {
  font-family: Grifter;
  src: url('../fonts/grifterbold.otf');
}

:root{

  /*bg colors*/
  --bg-clr: #FCFCFC;

  /*font colors*/
  --fnt-clr-primary: #202124;
  --fnt-clr-secondary: #575858;

  --fnt-clr-gray: #999CA4;

  /*colors*/
  --clr-yellow-primary: #E7A90A;
  --clr-gray-secondary: #AFB5BF;
  
  /*other specifications*/
  font-family: "Inter", sans-serif;
  --border-radius: 8px;
}
/* [data-theme="dark"]{
 
  --bg-clr: #202124;
  
  --fnt-clr-primary: #FFFFFF;
  --fnt-clr-secondary: #575858;

} */